SfdcBlueprint/work/queueeventbulkobject.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.force.com/2009/06/asyncapi/dataload" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sObjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sObject" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:string" name="Id"/>
              <xs:element type="xs:string" name="Status__c"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>